@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan-secondary: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish-cyan-secondary: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --active-color: #9fe8df;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Light-grayish-cyan);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  height: 100vh;
  font-weight: 700;
}

@media only screen and (min-width: 700px) {
  body {
    justify-content: center;
  }
}

header {
  /* width: 100%; */
  height: 9em;
  margin-top: 5.375em;
  margin-bottom: 5.375em;
  letter-spacing: 0.625em;
  color: var(--Very-grayish-cyan);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media only screen and (min-width: 700px) {
  header {
    height: auto;
  }
}

/* header h1 {
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

.main {
  background-color: var(--White);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 30px;
}

.tip-calculator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px 24px 32px 24px;
}

@media only screen and (min-width: 700px) {
  .tip-calculator-form {
    flex-direction: row;
  }
}

label {
  display: block;
  margin-bottom: 12px;
}

.tip-form {
  padding: 8px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 700px) {
  .tip-form {
    width: 50%;
  }
}

.tip-form-item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 376px) {
  .tip-form-item:not(:last-child) {
    margin-bottom: 46px;
  }
}

input {
  background-color: var(--Light-grayish-cyan-secondary);
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 5px;
  font: inherit;
  font-size: 24px;
  color: var(--Dark-grayish-cyan-secondary);
  text-align: right;
}

input:focus {
  outline: none;
  outline-offset: 0;
  border: 2px solid var(--Strong-cyan);
}

.tip-form-item > input {
  /* padding: 16px; */
}

.bill {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 12px 50%;
}

.num-peop {
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 16px 50%;
}

.tip-select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 14px;
  row-gap: 16px;
}

@media screen and (min-width: 376px) {
  .tip-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    column-gap: 14px;
    row-gap: 16px;
  }
}

.tip-btn {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border: 0;
  outline-offset: 0;
  text-align: center;
  border-radius: 5px;
  font: inherit;
}

.tip-btn:hover {
  background-color: var(--active-color);
  color: var(--Very-dark-cyan);
  cursor: grab;
}

.tip-btn:focus {
  outline: none;
  outline-offset: 0;
  border: none;
  background-color: var(--active-color);
  color: var(--Very-dark-cyan);
}

.tip-custom {
  color: var(--Very-dark-cyan);
  height: 46px;
  font: inherit;
  /* padding: 14px; */
  /* text-align: center; */
}

.tip-custom {
  outline-offset: 0;
}

.tip-custom::placeholder {
  text-align: center;
}

.tip-calculator {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  /* margin: 24px; */
  /* margin-bottom: 0; */
  padding: 30px;
}

@media only screen and (min-width: 700px) {
  .tip-calculator {
    /* margin: 24px; */
    margin-left: 0;
    height: auto;
    width: auto;
  }
}

.tip-calculator > div {
  /* padding: 30px; */
  width: 100%;
}

.tip-calculator-item {
  margin-bottom: 42px;
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}

.tip-calculator-item span {
  display: block;
  color: var(--Dark-grayish-cyan-secondary);
}

.price {
  color: var(--Strong-cyan);
  font-size: 35px;
}

.btn-reset {
  font: inherit;
  border-radius: 5px;
  background-color: var(--active-color);
  color: var(--Very-dark-cyan);
  border: 0;
  outline: none;
  width: 100%;
  padding: 12px;
  cursor: grab;
}

footer {
  margin: 20px;
}
